# Create table of rhizosphere composition by sampling date

One table for each time point with the following columns:
* Rhizopshere Family
* Family relative abundance
* Number of OTUs /Num of OTUs responders

# Init

In [1]:
%load_ext rpy2.ipython

In [2]:
%%R
reqpkg = c("ggplot2", "phyloseq", "dplyr", "tidyr", 
           "reshape2")
# Load all required packages and show version
for (i in reqpkg) {
    print(i)
    print(packageVersion(i))
    suppressMessages(library(i, quietly = TRUE, verbose = FALSE, 
                             warn.conflicts = FALSE, character.only = TRUE))
}

[1] "ggplot2"
[1] ‘2.2.1’
[1] "phyloseq"
[1] ‘1.19.1’
[1] "dplyr"
[1] ‘0.5.0’
[1] "tidyr"
[1] ‘0.6.1’
[1] "reshape2"
[1] ‘1.4.2’

## load phyloseq object

In [3]:
%%R
physeq.snorm = readRDS('/home/bryan/ERA/data/MiSeq/20170417_run1/phyloseq/ERA_snorm.rds')
phy.plant = subset_samples(physeq.snorm, Plant != "Bare" & TimePoint != "T0" & SeedTreatment != "Untreated")
phy.plant.t1 = subset_samples(phy.plant, TimePoint == "T1")
phy.plant.t2 = subset_samples(phy.plant, TimePoint == "T2")
phy.plant.t3 = subset_samples(phy.plant, TimePoint == "T3")

## load log2foldchange table

In [4]:
%%R
df.l2fc = read.csv("/home/bryan/ERA/data/MiSeq/20170417_run1/DESeq2/BarevsHybrid.csv", header = TRUE)

In [5]:
%%R
head(df.l2fc)

    baseMean log2FoldChange     lfcSE        stat    pvalue padj    Rank1
1  6.8726577      0.1300310 0.6832738  0.00000000 1.0000000    1 Bacteria
2  0.6131857      0.1269938 0.6180803  0.00000000 1.0000000    1 Bacteria
3 23.9158212     -1.0456672 0.5212742 -0.08760687 0.9301891    1 Bacteria
4  6.4121877     -0.3889837 0.7521553  0.00000000 1.0000000    1 Bacteria
5  0.9485324     -0.5321542 0.7581169  0.00000000 1.0000000    1 Bacteria
6  5.7901305     -0.8500811 0.7360680  0.00000000 1.0000000    1 Bacteria
             Rank2                 Rank3          Rank4            Rank5
1 __Proteobacteria __Deltaproteobacteria __Myxococcales __Nannocystineae
2 __Proteobacteria __Deltaproteobacteria __Myxococcales __Nannocystineae
3 __Proteobacteria __Deltaproteobacteria __Myxococcales __Nannocystineae
4 __Proteobacteria __Deltaproteobacteria __Myxococcales __Nannocystineae
5 __Proteobacteria __Deltaproteobacteria __Myxococcales __Nannocystineae
6 __Proteobacteria __Deltaproteobacteria __Myxococcales __Nannocystineae
            Rank6        Rank7                              Rank8       OTU
1 __Haliangiaceae __Haliangium             __uncultured_bacterium   OTU.871
2 __Haliangiaceae __Haliangium                               <NA>  OTU.9547
3 __Haliangiaceae __Haliangium __uncultured_delta_proteobacterium   OTU.523
4 __Haliangiaceae __Haliangium __uncultured_delta_proteobacterium  OTU.1107
5 __Haliangiaceae __Haliangium             __uncultured_bacterium OTU.11742
6 __Haliangiaceae __Haliangium            __uncultured_prokaryote  OTU.1889
  TimePoint   Plant p.adj
1        T0 P1151HR     1
2        T0 P1151HR     1
3        T0 P1151HR     1
4        T0 P1151HR     1
5        T0 P1151HR     1
6        T0 P1151HR     1

## family designations

* Generate list of phyla that need family level designation shifted

In [6]:
%%R
taxacorrect = df.l2fc %>%
    filter(TimePoint == "T1") %>%
            as.data.frame() %>%
            select(Rank2, Rank3, Rank4) %>%
            filter(grepl("ceae",Rank4)) %>%
               unique()

# Generate relative abundances by family: T1

In [7]:
%%R
phy.plant.t1

phyloseq-class experiment-level object
otu_table()   OTU Table:         [ 4592 taxa and 72 samples ]
sample_data() Sample Data:       [ 72 samples by 46 sample variables ]
tax_table()   Taxonomy Table:    [ 4592 taxa by 8 taxonomic ranks ]
phy_tree()    Phylogenetic Tree: [ 4592 tips and 4591 internal nodes ]

In [8]:
%%R
# identify rhizosphere responders at T1
df.l2fc.t1 = filter(df.l2fc, TimePoint == "T1")
responders.t1 = filter(df.l2fc, TimePoint == "T1" & log2FoldChange > 0 & p.adj < 0.05) %>%
    select(OTU) %>%
    mutate(Responder = 1) %>%
    unique()
head(responders.t1) %>% print
dim(responders.t1)

        OTU Responder
1   OTU.313         1
2   OTU.613         1
3   OTU.844         1
4  OTU.6864         1
5 OTU.12001         1
6   OTU.546         1
[1] 125   2

In [23]:
%%R
#Calculate portion of rhizosphere samples occupied by responders at T1
phy.resp.t1 = prune_taxa(as.character(responders.t1$OTU), phy.plant.t1)
Val = sample_sums(phy.resp.t1) %>% mean
paste("Relative abundance of rhizosphere responders from any time point at T1: ", Val) %>% print

#Calculate portion of rhizosphere samples occupied by responders at any time point
phy.resp.t1 = prune_taxa(responders.any, phy.plant.t1)
Val = sample_sums(phy.resp.t1) %>% mean
paste("Relative abundance of rhizosphere responders from any time point at T1: ", Val) %>% print

[1] "Relative abundance of rhizosphere responders from any time point at T1:  0.0921444006159518"
[1] "Relative abundance of rhizosphere responders from any time point at T1:  0.134224011185206"

In [21]:
%%R
mdf = psmelt(phy.plant.t1)
head(mdf)

           OTU         Sample  Abundance     X.sampleID TubeID ExtractionPlate
212930 OTU.362 ERA-T1_3-5c_85 0.03765148 ERA-T1_3-5c_85    212            ERA3
57546   OTU.14  ERA-T1_2-2c_0 0.03701122  ERA-T1_2-2c_0    159            ERA2
246638 OTU.481 ERA-T1_1-2c_85 0.03670899 ERA-T1_1-2c_85    129            ERA1
80229  OTU.163 ERA-T1_1-4b_85 0.03526324 ERA-T1_1-4b_85    143            ERA1
57562   OTU.14 ERA-T1_4-1a_85 0.03169648 ERA-T1_4-1a_85    214            ERA5
30083   OTU.12 ERA-T1_2-5c_85 0.03058624 ERA-T1_2-5c_85    181            ERA2
       PooledDNAPlate Sample.Well.ID PrimerPlate Primer.Number Primer.Well.ID
212930              C            A11           3            49             A7
57546               A            C10           1            75            C10
246638              A             A4           1            25             A4
80229               A             F1           1             6             F1
57562               B            A12           2            89            A12
30083               A             F7           1            54             F7
        X primerFwdLoc primerRevLoc fwd_barcode rev_barcode  PlotID TimePoint
212930 NA          3-A          3-7    ATCGTACG    GCGCACGT 3-5c_85        T1
57546  NA          1-C         1-10    TAGCGAGT    TAGCAGAC  2-2c_0        T1
246638 NA          1-A          1-4    ATCGTACG    CAGTGAGT 1-2c_85        T1
80229  NA          1-F          1-1    CGTGAGTG    AACTCTCG 1-4b_85        T1
57562  NA          2-A         2-12    CTACTATA    TCGCTATA 4-1a_85        T1
30083  NA          1-F          1-7    CGTGAGTG    GGAGACTA 2-5c_85        T1
       Rep Row Pos Fert PlotIndex   Plant Genotype SeedTreatment R_Year ERA
212930   3   5   c   85       176     330      330       Treated   1939   1
57546    2   2   c    0        79 P1151HR  P1151HR       Treated   2011   3
246638   1   2   c   85        20    3475     3475       Treated   1984   2
80229    1   4   b   85        41   34M95    34M95       Treated   2001   3
57562    4   1   a   85       181 P1151HR  P1151HR       Treated   2011   3
30083    2   5   c   85       116     354      354       Treated   1953   1
       BG_activity.g BX_activity.g CB_activity.g LAP_activity.g NAG_activity.g
212930      83.76845      25.10458      23.55988       49.22810       22.77455
57546       94.67527      24.34020      27.79316       42.40203       19.94460
246638      65.94436      17.43092      13.43597       30.97004       14.82590
80229       76.97188      15.50771      14.67479       35.56935       17.22165
57562       81.71980      21.73304      19.98582       40.51841       19.20859
30083      133.03277      28.10638      30.24194       60.32270       30.71819
       Stage kgdw_ha FracN.leco FracC.leco    kgN_ha        RGR       AGR
212930    V6   189.9   0.024337    0.41986  4.621596 0.05085165  4.791667
57546     V6   183.6   0.023203    0.40318  4.260071 0.05013381  4.616667
246638    V6   190.8   0.024618    0.41398  4.697114 0.05095225  4.816667
80229     V6   454.2   0.024509    0.43649 11.131988 0.06940569 12.133333
57562     V6   348.6   0.030974    0.41939 10.797536 0.06377564  9.200000
30083     V6   379.2   0.027262    0.41985 10.337750 0.06556582 10.050000
           Nprod       NupR d15N X15N_AtPercent FracN FracN_fromSoil
212930 1.0367991 0.09222333   NA             NA    NA             NA
57546  1.0837066 0.08453129   NA             NA    NA             NA
246638 1.0254523 0.09383009   NA             NA    NA             NA
80229  1.0899521 0.23074229   NA             NA    NA             NA
57562  0.8520462 0.22362631   NA             NA    NA             NA
30083  0.9721651 0.21384363   NA             NA    NA             NA
       FracN_fromFert kgFertN_ha kgSoilN_ha    Rank1            Rank2
212930             NA         NA         NA Bacteria  __Cyanobacteria
57546              NA         NA         NA Bacteria __Proteobacteria
246638             NA         NA         NA Bacteria __Proteobacteria
80229              NA         NA         NA Bacteria __Proteobacteria
57562              NA         NA         NA Bacteria __Proteobacteria
30083              NA         NA         NA Bacteria __Proteobacteria
                       Rank3              Rank4               Rank5
212930       __SubsectionIII          __FamilyI        __Phormidium
57546   __Betaproteobacteria  __Burkholderiales    __Comamonadaceae
246638 __Gammaproteobacteria  __Pseudomonadales     __Moraxellaceae
80229  __Gammaproteobacteria  __Pseudomonadales  __Pseudomonadaceae
57562   __Betaproteobacteria  __Burkholderiales    __Comamonadaceae
30083  __Alphaproteobacteria __Sphingomonadales __Sphingomonadaceae
                 Rank6                  Rank7 Rank8
212930            <NA>                   <NA>  <NA>
57546      __Pelomonas                   <NA>  <NA>
246638 __Acinetobacter                   <NA>  <NA>
80229    __Pseudomonas __uncultured_bacterium  <NA>
57562      __Pelomonas                   <NA>  <NA>
30083    __Sphingobium         __Sphingomonas  <NA>

In [49]:
%%R
mdf.r = left_join(mdf, responders.t1, by = "OTU")
head(mdf.r)

      OTU         Sample  Abundance     X.sampleID TubeID ExtractionPlate
1 OTU.362 ERA-T1_3-5c_85 0.03765148 ERA-T1_3-5c_85    212            ERA3
2  OTU.14  ERA-T1_2-2c_0 0.03701122  ERA-T1_2-2c_0    159            ERA2
3 OTU.481 ERA-T1_1-2c_85 0.03670899 ERA-T1_1-2c_85    129            ERA1
4 OTU.163 ERA-T1_1-4b_85 0.03526324 ERA-T1_1-4b_85    143            ERA1
5  OTU.14 ERA-T1_4-1a_85 0.03169648 ERA-T1_4-1a_85    214            ERA5
6  OTU.12 ERA-T1_2-5c_85 0.03058624 ERA-T1_2-5c_85    181            ERA2
  PooledDNAPlate Sample.Well.ID PrimerPlate Primer.Number Primer.Well.ID  X
1              C            A11           3            49             A7 NA
2              A            C10           1            75            C10 NA
3              A             A4           1            25             A4 NA
4              A             F1           1             6             F1 NA
5              B            A12           2            89            A12 NA
6              A             F7           1            54             F7 NA
  primerFwdLoc primerRevLoc fwd_barcode rev_barcode  PlotID TimePoint Rep Row
1          3-A          3-7    ATCGTACG    GCGCACGT 3-5c_85        T1   3   5
2          1-C         1-10    TAGCGAGT    TAGCAGAC  2-2c_0        T1   2   2
3          1-A          1-4    ATCGTACG    CAGTGAGT 1-2c_85        T1   1   2
4          1-F          1-1    CGTGAGTG    AACTCTCG 1-4b_85        T1   1   4
5          2-A         2-12    CTACTATA    TCGCTATA 4-1a_85        T1   4   1
6          1-F          1-7    CGTGAGTG    GGAGACTA 2-5c_85        T1   2   5
  Pos Fert PlotIndex   Plant Genotype SeedTreatment R_Year ERA BG_activity.g
1   c   85       176     330      330       Treated   1939   1      83.76845
2   c    0        79 P1151HR  P1151HR       Treated   2011   3      94.67527
3   c   85        20    3475     3475       Treated   1984   2      65.94436
4   b   85        41   34M95    34M95       Treated   2001   3      76.97188
5   a   85       181 P1151HR  P1151HR       Treated   2011   3      81.71980
6   c   85       116     354      354       Treated   1953   1     133.03277
  BX_activity.g CB_activity.g LAP_activity.g NAG_activity.g Stage kgdw_ha
1      25.10458      23.55988       49.22810       22.77455    V6   189.9
2      24.34020      27.79316       42.40203       19.94460    V6   183.6
3      17.43092      13.43597       30.97004       14.82590    V6   190.8
4      15.50771      14.67479       35.56935       17.22165    V6   454.2
5      21.73304      19.98582       40.51841       19.20859    V6   348.6
6      28.10638      30.24194       60.32270       30.71819    V6   379.2
  FracN.leco FracC.leco    kgN_ha        RGR       AGR     Nprod       NupR
1   0.024337    0.41986  4.621596 0.05085165  4.791667 1.0367991 0.09222333
2   0.023203    0.40318  4.260071 0.05013381  4.616667 1.0837066 0.08453129
3   0.024618    0.41398  4.697114 0.05095225  4.816667 1.0254523 0.09383009
4   0.024509    0.43649 11.131988 0.06940569 12.133333 1.0899521 0.23074229
5   0.030974    0.41939 10.797536 0.06377564  9.200000 0.8520462 0.22362631
6   0.027262    0.41985 10.337750 0.06556582 10.050000 0.9721651 0.21384363
  d15N X15N_AtPercent FracN FracN_fromSoil FracN_fromFert kgFertN_ha kgSoilN_ha
1   NA             NA    NA             NA             NA         NA         NA
2   NA             NA    NA             NA             NA         NA         NA
3   NA             NA    NA             NA             NA         NA         NA
4   NA             NA    NA             NA             NA         NA         NA
5   NA             NA    NA             NA             NA         NA         NA
6   NA             NA    NA             NA             NA         NA         NA
     Rank1            Rank2                 Rank3              Rank4
1 Bacteria  __Cyanobacteria       __SubsectionIII          __FamilyI
2 Bacteria __Proteobacteria  __Betaproteobacteria  __Burkholderiales
3 Bacteria __Proteobacteria __Gammaproteobacteria  __Pseudomonadales
4 Bacteria __Proteobacteria __Gammaproteobacteria  __Pseudomonadales
5 Bacteria __Proteobacteria  __Betaproteobacteria  __Burkholderiales
6 Bacteria __Proteobacteria __Alphaproteobacteria __Sphingomonadales
                Rank5           Rank6                  Rank7 Rank8 Responder
1        __Phormidium            <NA>                   <NA>  <NA>        NA
2    __Comamonadaceae     __Pelomonas                   <NA>  <NA>         1
3     __Moraxellaceae __Acinetobacter                   <NA>  <NA>        NA
4  __Pseudomonadaceae   __Pseudomonas __uncultured_bacterium  <NA>         1
5    __Comamonadaceae     __Pelomonas                   <NA>  <NA>         1
6 __Sphingomonadaceae   __Sphingobium         __Sphingomonas  <NA>         1

In [50]:
%%R
byFam = mdf.r %>%
    mutate(., Family = ifelse(grepl("ceae",Rank4), as.character(Rank4), as.character(Rank5))) %>%
    group_by(X.sampleID, Rank2,  Rank3, Rank4, Family) %>% #first sum otus to get family abundances within a sample
    summarize(fAbund = sum(Abundance),
             nOTU = length(Abundance),
             nOTUresp = sum(Responder, na.rm = TRUE)) %>%
    group_by(Rank2, Rank3, Rank4, Family) %>%
    summarize(mAbund = mean(fAbund),
             nOTU = max(nOTU),
             nResponder = max(nOTUresp))

In [51]:
%%R
Top30.t1 = byFam %>% 
    arrange(desc(mAbund)) %>%
    .[1:30,]

In [54]:
%%R
print(Top30.t1, n = 30)

Source: local data frame [30 x 7]
Groups: Rank2, Rank3, Rank4 [27]

                Rank2                 Rank3
               <fctr>                <fctr>
1     __Acidobacteria               __DA023
2    __Actinobacteria     __Thermoleophilia
3    __Planctomycetes    __Planctomycetacia
4    __Proteobacteria  __Betaproteobacteria
5     __Acidobacteria               __DA023
6    __Actinobacteria     __Thermoleophilia
7       __Chloroflexi              __KD4-96
8    __Actinobacteria    __Streptomycetales
9    __Actinobacteria __Propionibacteriales
10 __Gemmatimonadetes    __Gemmatimonadales
11   __Proteobacteria __Gammaproteobacteria
12   __Proteobacteria  __Betaproteobacteria
13   __Proteobacteria __Alphaproteobacteria
14       __Firmicutes             __Bacilli
15    __Bacteroidetes    __Sphingobacteriia
16    __Acidobacteria               __DA023
17   __Proteobacteria __Alphaproteobacteria
18   __Proteobacteria __Deltaproteobacteria
19  __Verrucomicrobia    __Verrucomicrobiae
20   __Actinobacteria     __Thermoleophilia
21   __Actinobacteria           __MB-A2-108
22   __Actinobacteria     __Thermoleophilia
23   __Actinobacteria       __Micrococcales
24    __Bacteroidetes          __Cytophagia
25  __Verrucomicrobia    __OPB35_soil_group
26   __Proteobacteria __Alphaproteobacteria
27      __Nitrospirae          __Nitrospira
28   __Actinobacteria       __Micrococcales
29   __Proteobacteria __Alphaproteobacteria
30   __Actinobacteria   __Micromonosporales
# ... with 5 more variables: Rank4 <fctr>, Family <chr>, mAbund <dbl>,
#   nOTU <int>, nResponder <dbl>

In [56]:
%%R
write.csv(Top30.t1, file = "/home/bryan/ERA/data/figures/Top30_t1.csv", row.names = FALSE)

# Generate relative abundances by Family: T2

In [14]:
%%R
phy.plant.t2

phyloseq-class experiment-level object
otu_table()   OTU Table:         [ 4592 taxa and 48 samples ]
sample_data() Sample Data:       [ 48 samples by 46 sample variables ]
tax_table()   Taxonomy Table:    [ 4592 taxa by 8 taxonomic ranks ]
phy_tree()    Phylogenetic Tree: [ 4592 tips and 4591 internal nodes ]

In [19]:
%%R
# identify rhizosphere responders at T1
responders.t2 = filter(df.l2fc, TimePoint == "T2" & log2FoldChange > 0 & p.adj < 0.05) %>%
    select(OTU) %>%
    mutate(Responder = 1) %>%
    unique()
head(responders.t2) %>% print
dim(responders.t2)

responders.any = filter(df.l2fc, log2FoldChange > 0 & p.adj < 0.05) %>%
    select(OTU) %>%
    unique() %>%
    .$OTU %>%
    as.character()

      OTU Responder
1  OTU.91         1
2  OTU.78         1
3  OTU.12         1
4 OTU.132         1
5  OTU.82         1
6 OTU.166         1

In [22]:
%%R
#Calculate portion of rhizosphere samples occupied by responders at T2
phy.resp.t2 = prune_taxa(as.character(responders.t2$OTU), phy.plant.t2)
Val = sample_sums(phy.resp.t2) %>% mean
paste("Relative abundance of rhizosphere responders at T2: ", Val) %>% print

#Calculate portion of rhizosphere samples occupied by responders at any time point
phy.resp.t2 = prune_taxa(responders.any, phy.plant.t2)
Val = sample_sums(phy.resp.t2) %>% mean
paste("Relative abundance of rhizosphere responders from any time point at T2: ", Val)

[1] "Relative abundance of rhizosphere responders at T2:  0.139980804986853"
[1] "Relative abundance of rhizosphere responders from any time point at T2:  0.200801116096239"

In [59]:
%%R
mdf = psmelt(phy.plant.t2)
head(mdf)

          OTU         Sample  Abundance     X.sampleID TubeID ExtractionPlate
20035  OTU.12 ERA-T2_1-4c_85 0.07297909 ERA-T2_1-4c_85    380            ERA1
39     OTU.10 ERA-T2_4-2c_85 0.06577100 ERA-T2_4-2c_85    458            ERA5
41583 OTU.145 ERA-T2_3-3d_85 0.06225060 ERA-T2_3-3d_85    439            ERA4
38356  OTU.14 ERA-T2_1-2c_85 0.05279312 ERA-T2_1-2c_85    364            ERA1
19048 OTU.119 ERA-T2_3-3d_85 0.04827036 ERA-T2_3-3d_85    439            ERA4
9872   OTU.11 ERA-T2_4-4a_85 0.04645880 ERA-T2_4-4a_85    469            ERA5
      PooledDNAPlate Sample.Well.ID PrimerPlate Primer.Number Primer.Well.ID  X
20035              A             E6           1            45             E6 NA
39                 B            G12           2            95            G12 NA
41583              B             A4           2            25             A4 NA
38356              A             D2           1            12             D2 NA
19048              B             A4           2            25             A4 NA
9872               B            B12           2            90            B12 NA
      primerFwdLoc primerRevLoc fwd_barcode rev_barcode  PlotID TimePoint Rep
20035          1-E          1-6    TCATCGAG    CTACGCAG 1-4c_85        T2   1
39             2-G         2-12    GATCGTGT    TCGCTATA 4-2c_85        T2   4
41583          2-A          2-4    CTACTATA    CAGTGAGT 3-3d_85        T2   3
38356          1-D          1-2    CTGCGTGT    ACTATGTC 1-2c_85        T2   1
19048          2-A          2-4    CTACTATA    CAGTGAGT 3-3d_85        T2   3
9872           2-B         2-12    CGTTACTA    TCGCTATA 4-4a_85        T2   4
      Row Pos Fert PlotIndex Plant Genotype SeedTreatment R_Year ERA
20035   4   c   85        44   339      339       Treated   1942   1
39      2   c   85       200  3517     3517       Treated   1971   2
41583   3   d   85       154  3618     3618       Treated   1961   2
38356   2   c   85        20  3475     3475       Treated   1984   2
19048   3   d   85       154  3618     3618       Treated   1961   2
9872    4   a   85       217  3475     3475       Treated   1984   2
      BG_activity.g BX_activity.g CB_activity.g LAP_activity.g NAG_activity.g
20035      88.21732      19.60371      24.49390       157.6215       29.70118
39        127.28582      28.67373      34.45178       203.3777       38.40611
41583      87.68829      20.85906      21.64224       153.6730       23.51848
38356      57.55634      14.67689      10.90388       133.0995       14.75659
19048      87.68829      20.85906      21.64224       153.6730       23.51848
9872       59.28800      17.93663      12.35256       156.9130       19.22640
      Stage kgdw_ha FracN.leco FracC.leco    kgN_ha        RGR      AGR
20035    R1  5313.0   0.013843    0.43392  73.54786 0.10422132 161.1097
39       R1  4473.0   0.011728    0.43366  52.45934 0.10108901 134.8742
41583    R1  9186.0   0.012519    0.43780 114.99953 0.06475193 244.7419
38356    R1  5143.5   0.010947    0.43558  56.30589 0.12200975 159.7645
19048    R1  9186.0   0.012519    0.43780 114.99953 0.06475193 244.7419
9872     R1  8137.5   0.010812    0.44064  87.98265 0.07150166 224.4194
         Nprod     NupR     d15N X15N_AtPercent      FracN FracN_fromSoil
20035 2.190542 2.464784       NA             NA         NA             NA
39    2.571023 1.708878 701.2666      0.6215828 0.01170188      0.6052724
41583 2.128199 2.630453       NA             NA         NA             NA
38356 2.837439 1.911436 666.0965      0.6088111 0.01140551      0.6257006
19048 2.128199 2.630453       NA             NA         NA             NA
9872  2.550723 2.152969 499.3243      0.5482047 0.01025764      0.7226396
      FracN_fromFert kgFertN_ha kgSoilN_ha    Rank1             Rank2
20035             NA         NA         NA Bacteria  __Proteobacteria
39         0.3947276   20.66103   31.68148 Bacteria __Verrucomicrobia
41583             NA         NA         NA Bacteria  __Actinobacteria
38356      0.3742994   21.95799   36.70625 Bacteria  __Proteobacteria
19048             NA         NA         NA Bacteria  __Proteobacteria
9872       0.2773604   23.15170   60.31984 Bacteria  __Proteobacteria
                      Rank3                Rank4                 Rank5
20035 __Alphaproteobacteria   __Sphingomonadales   __Sphingomonadaceae
39       __Verrucomicrobiae __Verrucomicrobiales __Verrucomicrobiaceae
41583    __Streptomycetales  __Streptomycetaceae        __Streptomyces
38356  __Betaproteobacteria    __Burkholderiales      __Comamonadaceae
19048  __Betaproteobacteria    __Burkholderiales    __Oxalobacteraceae
9872   __Betaproteobacteria    __Burkholderiales    __Oxalobacteraceae
                Rank6                  Rank7 Rank8
20035   __Sphingobium         __Sphingomonas  <NA>
39    __Luteolibacter __uncultured_bacterium  <NA>
41583            <NA>                   <NA>  <NA>
38356     __Pelomonas                   <NA>  <NA>
19048      __Massilia                   <NA>  <NA>
9872             <NA>                   <NA>  <NA>

In [60]:
%%R
mdf.r = left_join(mdf, responders.t2, by = "OTU")
head(mdf.r)

      OTU         Sample  Abundance     X.sampleID TubeID ExtractionPlate
1  OTU.12 ERA-T2_1-4c_85 0.07297909 ERA-T2_1-4c_85    380            ERA1
2  OTU.10 ERA-T2_4-2c_85 0.06577100 ERA-T2_4-2c_85    458            ERA5
3 OTU.145 ERA-T2_3-3d_85 0.06225060 ERA-T2_3-3d_85    439            ERA4
4  OTU.14 ERA-T2_1-2c_85 0.05279312 ERA-T2_1-2c_85    364            ERA1
5 OTU.119 ERA-T2_3-3d_85 0.04827036 ERA-T2_3-3d_85    439            ERA4
6  OTU.11 ERA-T2_4-4a_85 0.04645880 ERA-T2_4-4a_85    469            ERA5
  PooledDNAPlate Sample.Well.ID PrimerPlate Primer.Number Primer.Well.ID  X
1              A             E6           1            45             E6 NA
2              B            G12           2            95            G12 NA
3              B             A4           2            25             A4 NA
4              A             D2           1            12             D2 NA
5              B             A4           2            25             A4 NA
6              B            B12           2            90            B12 NA
  primerFwdLoc primerRevLoc fwd_barcode rev_barcode  PlotID TimePoint Rep Row
1          1-E          1-6    TCATCGAG    CTACGCAG 1-4c_85        T2   1   4
2          2-G         2-12    GATCGTGT    TCGCTATA 4-2c_85        T2   4   2
3          2-A          2-4    CTACTATA    CAGTGAGT 3-3d_85        T2   3   3
4          1-D          1-2    CTGCGTGT    ACTATGTC 1-2c_85        T2   1   2
5          2-A          2-4    CTACTATA    CAGTGAGT 3-3d_85        T2   3   3
6          2-B         2-12    CGTTACTA    TCGCTATA 4-4a_85        T2   4   4
  Pos Fert PlotIndex Plant Genotype SeedTreatment R_Year ERA BG_activity.g
1   c   85        44   339      339       Treated   1942   1      88.21732
2   c   85       200  3517     3517       Treated   1971   2     127.28582
3   d   85       154  3618     3618       Treated   1961   2      87.68829
4   c   85        20  3475     3475       Treated   1984   2      57.55634
5   d   85       154  3618     3618       Treated   1961   2      87.68829
6   a   85       217  3475     3475       Treated   1984   2      59.28800
  BX_activity.g CB_activity.g LAP_activity.g NAG_activity.g Stage kgdw_ha
1      19.60371      24.49390       157.6215       29.70118    R1  5313.0
2      28.67373      34.45178       203.3777       38.40611    R1  4473.0
3      20.85906      21.64224       153.6730       23.51848    R1  9186.0
4      14.67689      10.90388       133.0995       14.75659    R1  5143.5
5      20.85906      21.64224       153.6730       23.51848    R1  9186.0
6      17.93663      12.35256       156.9130       19.22640    R1  8137.5
  FracN.leco FracC.leco    kgN_ha        RGR      AGR    Nprod     NupR
1   0.013843    0.43392  73.54786 0.10422132 161.1097 2.190542 2.464784
2   0.011728    0.43366  52.45934 0.10108901 134.8742 2.571023 1.708878
3   0.012519    0.43780 114.99953 0.06475193 244.7419 2.128199 2.630453
4   0.010947    0.43558  56.30589 0.12200975 159.7645 2.837439 1.911436
5   0.012519    0.43780 114.99953 0.06475193 244.7419 2.128199 2.630453
6   0.010812    0.44064  87.98265 0.07150166 224.4194 2.550723 2.152969
      d15N X15N_AtPercent      FracN FracN_fromSoil FracN_fromFert kgFertN_ha
1       NA             NA         NA             NA             NA         NA
2 701.2666      0.6215828 0.01170188      0.6052724      0.3947276   20.66103
3       NA             NA         NA             NA             NA         NA
4 666.0965      0.6088111 0.01140551      0.6257006      0.3742994   21.95799
5       NA             NA         NA             NA             NA         NA
6 499.3243      0.5482047 0.01025764      0.7226396      0.2773604   23.15170
  kgSoilN_ha    Rank1             Rank2                 Rank3
1         NA Bacteria  __Proteobacteria __Alphaproteobacteria
2   31.68148 Bacteria __Verrucomicrobia    __Verrucomicrobiae
3         NA Bacteria  __Actinobacteria    __Streptomycetales
4   36.70625 Bacteria  __Proteobacteria  __Betaproteobacteria
5         NA Bacteria  __Proteobacteria  __Betaproteobacteria
6   60.31984 Bacteria  __Proteobacteria  __Betaproteobacteria
                 Rank4                 Rank5           Rank6
1   __Sphingomonadales   __Sphingomonadaceae   __Sphingobium
2 __Verrucomicrobiales __Verrucomicrobiaceae __Luteolibacter
3  __Streptomycetaceae        __Streptomyces            <NA>
4    __Burkholderiales      __Comamonadaceae     __Pelomonas
5    __Burkholderiales    __Oxalobacteraceae      __Massilia
6    __Burkholderiales    __Oxalobacteraceae            <NA>
                   Rank7 Rank8 Responder
1         __Sphingomonas  <NA>         1
2 __uncultured_bacterium  <NA>         1
3                   <NA>  <NA>        NA
4                   <NA>  <NA>         1
5                   <NA>  <NA>         1
6                   <NA>  <NA>         1

In [61]:
%%R
byFam = mdf.r %>%
    mutate(., Family = ifelse(grepl("ceae",Rank4), as.character(Rank4), as.character(Rank5))) %>%
    group_by(X.sampleID, Rank2,  Rank3, Rank4, Family) %>% #first sum otus to get family abundances within a sample
    summarize(fAbund = sum(Abundance),
             nOTU = length(Abundance),
             nOTUresp = sum(Responder, na.rm = TRUE)) %>%
    group_by(Rank2, Rank3, Rank4, Family) %>%
    summarize(mAbund = mean(fAbund),
             nOTU = max(nOTU),
             nResponder = max(nOTUresp))

In [63]:
%%R
# Check that calculations add up 
paste("mean abundance of familes sums to: ", sum(byFam$mAbund), sep = "") %>% print
paste("number of OTUs sums to: ", sum(byFam$nOTU), sep = "") %>% print
paste("number of rhizosphere responders sums to: ", sum(byFam$nResponder), sep = "") %>% print

[1] "mean abundance of familes sums to: 1"
[1] "number of OTUs sums to: 4592"
[1] "number of rhizosphere responders sums to: 78"

In [64]:
%%R
Top30.t2 = byFam %>% 
    arrange(desc(mAbund)) %>%
    .[1:30,]

In [66]:
%%R
print(Top30.t2, n = 30)

Source: local data frame [30 x 7]
Groups: Rank2, Rank3, Rank4 [25]

                Rank2                 Rank3
               <fctr>                <fctr>
1     __Acidobacteria               __DA023
2    __Actinobacteria    __Streptomycetales
3    __Actinobacteria     __Thermoleophilia
4    __Planctomycetes    __Planctomycetacia
5    __Proteobacteria  __Betaproteobacteria
6     __Acidobacteria               __DA023
7    __Actinobacteria __Propionibacteriales
8    __Actinobacteria     __Thermoleophilia
9       __Chloroflexi              __KD4-96
10 __Gemmatimonadetes    __Gemmatimonadales
11   __Proteobacteria  __Betaproteobacteria
12   __Proteobacteria __Alphaproteobacteria
13  __Verrucomicrobia    __Verrucomicrobiae
14   __Proteobacteria __Gammaproteobacteria
15   __Proteobacteria  __Betaproteobacteria
16  __Verrucomicrobia    __OPB35_soil_group
17   __Actinobacteria   __Pseudonocardiales
18    __Bacteroidetes          __Cytophagia
19   __Actinobacteria     __Thermoleophilia
20    __Acidobacteria               __DA023
21   __Actinobacteria       __Micrococcales
22    __Bacteroidetes    __Sphingobacteriia
23   __Actinobacteria     __Thermoleophilia
24   __Proteobacteria __Alphaproteobacteria
25   __Actinobacteria       __Micrococcales
26   __Actinobacteria       __Micrococcales
27   __Actinobacteria           __MB-A2-108
28   __Proteobacteria __Deltaproteobacteria
29   __Proteobacteria __Alphaproteobacteria
30   __Proteobacteria __Gammaproteobacteria
# ... with 5 more variables: Rank4 <fctr>, Family <chr>, mAbund <dbl>,
#   nOTU <int>, nResponder <dbl>

In [67]:
%%R
write.csv(Top30.t2, file = "/home/bryan/ERA/data/figures/Top30_t2.csv", row.names = FALSE)

# Generate relative abundances by Family: T3

In [24]:
%%R
phy.plant.t3

phyloseq-class experiment-level object
otu_table()   OTU Table:         [ 4592 taxa and 72 samples ]
sample_data() Sample Data:       [ 72 samples by 46 sample variables ]
tax_table()   Taxonomy Table:    [ 4592 taxa by 8 taxonomic ranks ]
phy_tree()    Phylogenetic Tree: [ 4592 tips and 4591 internal nodes ]

In [25]:
%%R
# identify rhizosphere responders at T3
responders.t3 = filter(df.l2fc, TimePoint == "T3" & log2FoldChange > 0 & p.adj < 0.05) %>%
    select(OTU) %>%
    mutate(Responder = 1) %>%
    unique()
head(responders.t3) %>% print
dim(responders.t3)

       OTU Responder
1 OTU.1012         1
2 OTU.1495         1
3  OTU.314         1
4 OTU.1098         1
5   OTU.91         1
6  OTU.388         1
[1] 241   2

In [26]:
%%R
#Calculate portion of rhizosphere samples occupied by responders at T1
phy.resp.t3 = prune_taxa(as.character(responders.t1$OTU), phy.plant.t3)
Val = sample_sums(phy.resp.t3) %>% mean
paste("Relative abundance of rhizosphere responders from any time point at T3: ", Val) %>% print

#Calculate portion of rhizosphere samples occupied by responders at any time point
phy.resp.t3 = prune_taxa(responders.any, phy.plant.t3)
Val = sample_sums(phy.resp.t3) %>% mean
paste("Relative abundance of rhizosphere responders from any time point at T3: ", Val) %>% print

[1] "Relative abundance of rhizosphere responders from any time point at T3:  0.18539440050168"
[1] "Relative abundance of rhizosphere responders from any time point at T3:  0.264744740653749"

In [70]:
%%R
mdf = psmelt(phy.plant.t3)
head(mdf)

            OTU          Sample  Abundance      X.sampleID TubeID
226175    OTU.4 ERA-T3_4-2c_170 0.06991515 ERA-T3_4-2c_170    575
226941 OTU.4019 ERA-T3_4-5b_170 0.06578727 ERA-T3_4-5b_170    585
226931 OTU.4019 ERA-T3_4-2c_170 0.06525578 ERA-T3_4-2c_170    575
226185    OTU.4  ERA-T3_2-5a_85 0.06388878  ERA-T3_2-5a_85    555
226157    OTU.4  ERA-T3_1-4a_85 0.05863104  ERA-T3_1-4a_85    540
226154    OTU.4  ERA-T3_3-1c_85 0.05862398  ERA-T3_3-1c_85    559
       ExtractionPlate PooledDNAPlate Sample.Well.ID PrimerPlate Primer.Number
226175            ERA5              B             E8           2            61
226941            ERA5              B            D10           2            76
226931            ERA5              B             E8           2            61
226185            ERA2              A            B11           1            82
226157            ERA2              A             A7           1            49
226154            ERA4              B             E2           2            13
       Primer.Well.ID  X primerFwdLoc primerRevLoc fwd_barcode rev_barcode
226175             E8 NA          2-E          2-8    ACGTCTCG    GTCGCTCG
226941            D10 NA          2-D         2-10    TACGAGAC    TAGCAGAC
226931             E8 NA          2-E          2-8    ACGTCTCG    GTCGCTCG
226185            B11 NA          1-B         1-11    ACTATCTG    TCATAGAC
226157             A7 NA          1-A          1-7    ATCGTACG    GGAGACTA
226154             E2 NA          2-E          2-2    ACGTCTCG    ACTATGTC
         PlotID TimePoint Rep Row Pos Fert PlotIndex Plant Genotype
226175 4-2c_170        T3   4   2   c  170       201  3517     3517
226941 4-5b_170        T3   4   5   b  170       232 34M95    34M95
226931 4-2c_170        T3   4   2   c  170       201  3517     3517
226185  2-5a_85        T3   2   5   a   85       109  3475     3475
226157  1-4a_85        T3   1   4   a   85        37   354      354
226154  3-1c_85        T3   3   1   c   85       128  3475     3475
       SeedTreatment R_Year ERA BG_activity.g BX_activity.g CB_activity.g
226175       Treated   1971   2      84.57769      26.04576      24.26900
226941       Treated   2001   3     153.19322      33.18853      41.66629
226931       Treated   1971   2      84.57769      26.04576      24.26900
226185       Treated   1984   2      86.90080      26.08306      19.71749
226157       Treated   1953   1     102.51403      26.03077      27.91100
226154       Treated   1984   2      87.91716      24.32274      20.54803
       LAP_activity.g NAG_activity.g Stage kgdw_ha FracN.leco FracC.leco
226175       212.9520       23.03383    R3   13947         NA         NA
226941       244.2621       35.50504    R3   15255  0.0087750    0.43572
226931       212.9520       23.03383    R3   13947         NA         NA
226185       198.1861       24.57937    R3    9444  0.0063257    0.43708
226157       208.8781       23.32548    R3    9786  0.0064663    0.43738
226154       184.5332       32.97663    R3    9240  0.0071656    0.43628
          kgN_ha        RGR      AGR    Nprod      NupR d15N X15N_AtPercent
226175        NA 0.03489676 352.9565       NA        NA   NA             NA
226941 11.561940 0.02905348 342.4565 29.61930 -3.235627   NA             NA
226931        NA 0.03489676 352.9565       NA        NA   NA             NA
226185  2.070402 0.01207031 106.9565 51.65979 -2.996010   NA             NA
226157  3.687731 0.02802127 214.3043 58.11279 -1.757464   NA             NA
226154  4.310108 0.01507283 126.1304 29.26387 -2.350467   NA             NA
       FracN FracN_fromSoil FracN_fromFert kgFertN_ha kgSoilN_ha    Rank1
226175    NA             NA             NA         NA         NA Bacteria
226941    NA             NA             NA         NA         NA Bacteria
226931    NA             NA             NA         NA         NA Bacteria
226185    NA             NA             NA         NA         NA Bacteria
226157    NA             NA             NA         NA         NA Bacteria
226154    NA             NA             NA         NA         NA Bacteria
                  Rank2              Rank3               Rank4          Rank5
226175 __Actinobacteria __Streptomycetales __Streptomycetaceae __Streptomyces
226941 __Actinobacteria __Streptomycetales __Streptomycetaceae __Streptomyces
226931 __Actinobacteria __Streptomycetales __Streptomycetaceae __Streptomyces
226185 __Actinobacteria __Streptomycetales __Streptomycetaceae __Streptomyces
226157 __Actinobacteria __Streptomycetales __Streptomycetaceae __Streptomyces
226154 __Actinobacteria __Streptomycetales __Streptomycetaceae __Streptomyces
       Rank6 Rank7 Rank8
226175  <NA>  <NA>  <NA>
226941  <NA>  <NA>  <NA>
226931  <NA>  <NA>  <NA>
226185  <NA>  <NA>  <NA>
226157  <NA>  <NA>  <NA>
226154  <NA>  <NA>  <NA>

In [71]:
%%R
mdf.r = left_join(mdf, responders.t3, by = "OTU")
head(mdf.r)

       OTU          Sample  Abundance      X.sampleID TubeID ExtractionPlate
1    OTU.4 ERA-T3_4-2c_170 0.06991515 ERA-T3_4-2c_170    575            ERA5
2 OTU.4019 ERA-T3_4-5b_170 0.06578727 ERA-T3_4-5b_170    585            ERA5
3 OTU.4019 ERA-T3_4-2c_170 0.06525578 ERA-T3_4-2c_170    575            ERA5
4    OTU.4  ERA-T3_2-5a_85 0.06388878  ERA-T3_2-5a_85    555            ERA2
5    OTU.4  ERA-T3_1-4a_85 0.05863104  ERA-T3_1-4a_85    540            ERA2
6    OTU.4  ERA-T3_3-1c_85 0.05862398  ERA-T3_3-1c_85    559            ERA4
  PooledDNAPlate Sample.Well.ID PrimerPlate Primer.Number Primer.Well.ID  X
1              B             E8           2            61             E8 NA
2              B            D10           2            76            D10 NA
3              B             E8           2            61             E8 NA
4              A            B11           1            82            B11 NA
5              A             A7           1            49             A7 NA
6              B             E2           2            13             E2 NA
  primerFwdLoc primerRevLoc fwd_barcode rev_barcode   PlotID TimePoint Rep Row
1          2-E          2-8    ACGTCTCG    GTCGCTCG 4-2c_170        T3   4   2
2          2-D         2-10    TACGAGAC    TAGCAGAC 4-5b_170        T3   4   5
3          2-E          2-8    ACGTCTCG    GTCGCTCG 4-2c_170        T3   4   2
4          1-B         1-11    ACTATCTG    TCATAGAC  2-5a_85        T3   2   5
5          1-A          1-7    ATCGTACG    GGAGACTA  1-4a_85        T3   1   4
6          2-E          2-2    ACGTCTCG    ACTATGTC  3-1c_85        T3   3   1
  Pos Fert PlotIndex Plant Genotype SeedTreatment R_Year ERA BG_activity.g
1   c  170       201  3517     3517       Treated   1971   2      84.57769
2   b  170       232 34M95    34M95       Treated   2001   3     153.19322
3   c  170       201  3517     3517       Treated   1971   2      84.57769
4   a   85       109  3475     3475       Treated   1984   2      86.90080
5   a   85        37   354      354       Treated   1953   1     102.51403
6   c   85       128  3475     3475       Treated   1984   2      87.91716
  BX_activity.g CB_activity.g LAP_activity.g NAG_activity.g Stage kgdw_ha
1      26.04576      24.26900       212.9520       23.03383    R3   13947
2      33.18853      41.66629       244.2621       35.50504    R3   15255
3      26.04576      24.26900       212.9520       23.03383    R3   13947
4      26.08306      19.71749       198.1861       24.57937    R3    9444
5      26.03077      27.91100       208.8781       23.32548    R3    9786
6      24.32274      20.54803       184.5332       32.97663    R3    9240
  FracN.leco FracC.leco    kgN_ha        RGR      AGR    Nprod      NupR d15N
1         NA         NA        NA 0.03489676 352.9565       NA        NA   NA
2  0.0087750    0.43572 11.561940 0.02905348 342.4565 29.61930 -3.235627   NA
3         NA         NA        NA 0.03489676 352.9565       NA        NA   NA
4  0.0063257    0.43708  2.070402 0.01207031 106.9565 51.65979 -2.996010   NA
5  0.0064663    0.43738  3.687731 0.02802127 214.3043 58.11279 -1.757464   NA
6  0.0071656    0.43628  4.310108 0.01507283 126.1304 29.26387 -2.350467   NA
  X15N_AtPercent FracN FracN_fromSoil FracN_fromFert kgFertN_ha kgSoilN_ha
1             NA    NA             NA             NA         NA         NA
2             NA    NA             NA             NA         NA         NA
3             NA    NA             NA             NA         NA         NA
4             NA    NA             NA             NA         NA         NA
5             NA    NA             NA             NA         NA         NA
6             NA    NA             NA             NA         NA         NA
     Rank1            Rank2              Rank3               Rank4
1 Bacteria __Actinobacteria __Streptomycetales __Streptomycetaceae
2 Bacteria __Actinobacteria __Streptomycetales __Streptomycetaceae
3 Bacteria __Actinobacteria __Streptomycetales __Streptomycetaceae
4 Bacteria __Actinobacteria __Streptomycetales __Streptomycetaceae
5 Bacteria __Actinobacteria __Streptomycetales __Streptomycetaceae
6 Bacteria __Actinobacteria __Streptomycetales __Streptomycetaceae
           Rank5 Rank6 Rank7 Rank8 Responder
1 __Streptomyces  <NA>  <NA>  <NA>         1
2 __Streptomyces  <NA>  <NA>  <NA>         1
3 __Streptomyces  <NA>  <NA>  <NA>         1
4 __Streptomyces  <NA>  <NA>  <NA>         1
5 __Streptomyces  <NA>  <NA>  <NA>         1
6 __Streptomyces  <NA>  <NA>  <NA>         1

In [72]:
%%R
byFam = mdf.r %>%
    mutate(., Family = ifelse(grepl("ceae",Rank4), as.character(Rank4), as.character(Rank5))) %>%
    group_by(X.sampleID, Rank2,  Rank3, Rank4, Family) %>% #first sum otus to get family abundances within a sample
    summarize(fAbund = sum(Abundance),
             nOTU = length(Abundance),
             nOTUresp = sum(Responder, na.rm = TRUE)) %>%
    group_by(Rank2, Rank3, Rank4, Family) %>%
    summarize(mAbund = mean(fAbund),
             nOTU = max(nOTU),
             nResponder = max(nOTUresp))

In [73]:
%%R
# Check that calculations add up 
paste("mean abundance of familes sums to: ", sum(byFam$mAbund), sep = "") %>% print
paste("number of OTUs sums to: ", sum(byFam$nOTU), sep = "") %>% print
paste("number of rhizosphere responders sums to: ", sum(byFam$nResponder), sep = "") %>% print

[1] "mean abundance of familes sums to: 1"
[1] "number of OTUs sums to: 4592"
[1] "number of rhizosphere responders sums to: 241"

In [74]:
%%R
Top30.t3= byFam %>% 
    arrange(desc(mAbund)) %>%
    .[1:30,]

In [75]:
%%R
print(Top30.t3, n = 30)

Source: local data frame [30 x 7]
Groups: Rank2, Rank3, Rank4 [24]

                Rank2                 Rank3
               <fctr>                <fctr>
1    __Actinobacteria    __Streptomycetales
2     __Acidobacteria               __DA023
3    __Proteobacteria  __Betaproteobacteria
4    __Actinobacteria     __Thermoleophilia
5    __Planctomycetes    __Planctomycetacia
6    __Actinobacteria __Propionibacteriales
7    __Actinobacteria   __Pseudonocardiales
8     __Acidobacteria               __DA023
9    __Actinobacteria     __Thermoleophilia
10      __Chloroflexi              __KD4-96
11   __Proteobacteria __Alphaproteobacteria
12 __Gemmatimonadetes    __Gemmatimonadales
13   __Proteobacteria __Gammaproteobacteria
14  __Verrucomicrobia    __OPB35_soil_group
15    __Bacteroidetes          __Cytophagia
16   __Proteobacteria  __Betaproteobacteria
17   __Proteobacteria  __Betaproteobacteria
18  __Verrucomicrobia    __Verrucomicrobiae
19    __Bacteroidetes    __Sphingobacteriia
20   __Actinobacteria       __Micrococcales
21   __Actinobacteria   __Micromonosporales
22   __Actinobacteria     __Thermoleophilia
23   __Actinobacteria     __Thermoleophilia
24    __Acidobacteria               __DA023
25   __Proteobacteria __Alphaproteobacteria
26   __Proteobacteria __Alphaproteobacteria
27   __Actinobacteria       __Micrococcales
28   __Proteobacteria __Gammaproteobacteria
29   __Actinobacteria       __Micrococcales
30   __Proteobacteria __Alphaproteobacteria
# ... with 5 more variables: Rank4 <fctr>, Family <chr>, mAbund <dbl>,
#   nOTU <int>, nResponder <dbl>

In [76]:
%%R
write.csv(Top30.t3, file = "/home/bryan/ERA/data/figures/Top30_t3.csv", row.names = FALSE)

In [ ]:
# Composition of rhizosphere responders

In [80]:
%%R
OTUl2f = filter(df.l2fc,log2FoldChange > 0 & p.adj < 0.05) %>%
    group_by(Rank2, Rank3, Rank4, Rank5) %>%
    summarize(numOTUs = length(OTU),
             maxl2fc_withinFamily = max(log2FoldChange))%>%
    arrange(Rank5)

In [81]:
%%R
write.csv(OTUl2f, file = '/home/bryan/ERA/data/figures/l2f_byFamily_table.csv')

# Composition of rhizosphere samples by OTU

In [83]:
%%R
mdf.1 = psmelt(phy.plant.t1)
mdf.2 = psmelt(phy.plant.t2)
mdf.3 = psmelt(phy.plant.t3)

In [85]:
%%R
mdf.1.r = left_join(mdf.1, responders.t1, by = "OTU")
mdf.2.r = left_join(mdf.2, responders.t2, by = "OTU")
mdf.3.r = left_join(mdf.3, responders.t3, by = "OTU")

In [90]:
%%R
byOTU.1 = mdf.1.r %>% 
    group_by(OTU, Rank2, Rank3, Rank4, Rank5, Rank6, Rank7) %>%
    summarize(relAbund = mean(Abundance)*100,
             responder = max(Responder, na.rm = TRUE)) %>%
    arrange(desc(relAbund)) %>%
    .[1:30,] %>%
    mutate(TimePoint = "T1")

byOTU.2 = mdf.2.r %>% 
     group_by(OTU, Rank2, Rank3, Rank4, Rank5, Rank6, Rank7) %>%
    summarize(relAbund = mean(Abundance)*100,
             responder = max(Responder, na.rm = TRUE)) %>%
    arrange(desc(relAbund))%>%
    .[1:30,]%>%
    mutate(TimePoint = "T2")

byOTU.3 = mdf.3.r %>% 
    group_by(OTU, Rank2, Rank3, Rank4, Rank5, Rank6, Rank7) %>%
    summarize(relAbund = mean(Abundance)*100,
             responder = max(Responder, na.rm = TRUE)) %>%
    arrange(desc(relAbund))%>%
    .[1:30,] %>%
    mutate(TimePoint = "T3")

Top30 = bind_rows(byOTU.1, byOTU.2, byOTU.3)

In [91]:
%%R
head(Top30)

Source: local data frame [6 x 10]
Groups: OTU, Rank2, Rank3, Rank4, Rank5, Rank6 [6]

     OTU            Rank2                Rank3                  Rank4
   <chr>           <fctr>               <fctr>                 <fctr>
1 OTU.16    __Chloroflexi             __KD4-96 __uncultured_bacterium
2 OTU.27 __Actinobacteria    __Thermoleophilia           __Gaiellales
3  OTU.6 __Actinobacteria          __MB-A2-108 __uncultured_bacterium
4 OTU.17 __Actinobacteria      __Micrococcales   __Intrasporangiaceae
5 OTU.13 __Actinobacteria    __Thermoleophilia           __Gaiellales
6 OTU.30 __Proteobacteria __Betaproteobacteria      __Burkholderiales
# ... with 6 more variables: Rank5 <fctr>, Rank6 <fctr>, Rank7 <fctr>,
#   relAbund <dbl>, responder <dbl>, TimePoint <chr>

In [92]:
%%R
write.csv(Top30, file = '/home/bryan/ERA/data/figures/Top30_rhizOTUs.csv')

In [77]:
%%R
sessionInfo()

R version 3.3.2 (2016-10-31)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 16.04.2 LTS

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C
 [3] LC_TIME=en_US.UTF-8        LC_COLLATE=en_US.UTF-8
 [5] LC_MONETARY=en_US.UTF-8    LC_MESSAGES=en_US.UTF-8
 [7] LC_PAPER=en_US.UTF-8       LC_NAME=C
 [9] LC_ADDRESS=C               LC_TELEPHONE=C
[11] LC_MEASUREMENT=en_US.UTF-8 LC_IDENTIFICATION=C

attached base packages:
[1] tools     stats     graphics  grDevices utils     datasets  methods
[8] base

other attached packages:
[1] reshape2_1.4.2  tidyr_0.6.1     dplyr_0.5.0     phyloseq_1.19.1
[5] ggplot2_2.2.1

loaded via a namespace (and not attached):
 [1] Rcpp_0.12.10        plyr_1.8.4          XVector_0.14.1
 [4] iterators_1.0.8     zlibbioc_1.20.0     jsonlite_1.4
 [7] tibble_1.3.0        gtable_0.2.0        nlme_3.1-131
[10] rhdf5_2.18.0        lattice_0.20-35     mgcv_1.8-17
[13] Matrix_1.2-8        foreach_1.4.3       igraph_1.0.1
[16] DBI_0.6-1           parallel_3.3.2      stringr_1.2.0
[19] cluster_2.0.6       Biostrings_2.42.1   S4Vectors_0.12.2
[22] IRanges_2.8.2       stats4_3.3.2        ade4_1.7-6
[25] multtest_2.30.0     grid_3.3.2          Biobase_2.34.0
[28] data.table_1.10.4   R6_2.2.0            survival_2.41-3
[31] magrittr_1.5        scales_0.4.1        codetools_0.2-15
[34] BiocGenerics_0.20.0 splines_3.3.2       MASS_7.3-45
[37] assertthat_0.2.0    biomformat_1.2.0    permute_0.9-4
[40] ape_4.1             colorspace_1.3-2    stringi_1.1.5
[43] lazyeval_0.2.0      munsell_0.4.3       vegan_2.4-3